.labelinline {
    padding: 3px;


}

.head {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;

}

.col {
    background-color: burlywood;
}